* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* body {} */

/* NAVIGATION BAR */

#nav-bar {
    z-index: 2;
    height: 3em;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 1em 0;
    display: flex;
    align-items: center;
}

#logo {
    position: relative;
    bottom: 0.15em;
    margin-left: 2em;
    font-size: 2.3rem;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 700;
    /* background: linear-gradient(to right, #30CFD0 0%, #330867 100%); */
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    /* text-shadow: 0px 4px 2px grey; */
    cursor: pointer;
}

#nav-menu {
    position: fixed;
    right: 7%;
    color: white;
    font-size: 1rem;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin: 0 2em;
    padding: 0;
}

li:hover {
    color: orange;
    cursor: pointer;
}

/* WALLPAPER */

#wallpaper {
    background-image: url(images/jan-kronies-hzvX-09NIBg-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,255,255,0.2), rgba(0,255,255,0.1));
    position: absolute;
}

.title-container {
    z-index: 1;
    width: 60%;
    text-align: center;
    color: white;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 600;
}

/*  ========
    CONTENT
    ======== */


/* HTML */

#html-container {
    background-color: #f1f5f8;
    text-align: center;
    padding: 2em 0;
}

#html-container h1 {
    font-family: sans-serif;
}

.slideshow-container {
    width: 85%;
    margin: 2em auto 0;
    padding: 0;
    background-color: white;
    overflow-x: auto;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.5);
    white-space: nowrap;
}

.slide-image {
    object-fit: contain;
    margin: 0;
}

.slide-image:hover {
    opacity: 0.9;
    cursor: pointer;
}

#slide-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3; 
    padding: 1em 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 850px;
    margin: 1em auto;
}

.modal-content {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.close, .direct-link {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.close:hover {
    opacity: 0.9;
}

@-webkit-keyframes zoom {
from {-webkit-transform:scale(0)} 
to {-webkit-transform:scale(1)}
}

@keyframes zoom {
from {transform:scale(0)} 
to {transform:scale(1)}
}

/* JAVASCRIPT */

#javascript-container {
    width: 90vw;
    margin: 0 auto;
    padding: 2em 0;
    font-family: sans-serif;
    text-align: center;
}

#javascript-container > div {
    margin: 1em 0;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.5);
    /* border: 1px solid black; */
}

#js12 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0;
    border-radius: 10px;
}

#color-flipper {
    width: 40vw;
    padding: 1em 0;
    background-color: #b4f0d7;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.color-information{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    padding: 0.2em 1em;
    border-radius: 10px;
    margin: 1em 0;
}

span.color {
    color: #b4f0d7;
}

.btn {
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5em 1em;
}

.btn:hover {
    background-color: black;
    color: white;
}

#counter {
    width: 40vw;
    padding: 1em 0;
    border-radius: 10px;
    background-color: #f1f5f8;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#counter > h1 {
    font-size: 2rem;
}

#number-counted {
    font-size: 3rem;
    margin: 0.4em 0;
}

.counter-box {
    display: flex;
}

.count-btn {
    font-size: 0.8rem;
    margin: 0 0.4em;
    padding: 0.5em 1em;
    border: 1px solid black;
    border-radius: 5px;
}

.count-btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#simple-messaging-app {
    height: 85vh;
    border-radius: 10px;
    padding: 1em 2em;
    /* overflow: hidden; */
    display: flex;
}

.js3-text {
    width: 50%;
    height: 100%;
    /* background-color: gold; */
    padding: 1em 2em;
    text-align: left;
}

.js3-text > h1 {
    font-size: 2rem;
}

#phone1, #phone2 {
    height: 120%;
    width: 25%;
    padding: 1em;
    position: relative;
    bottom: 10%;
    border-radius: 40px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 8px rgba(0,225,225,0.5);
}

#upper1, #upper2 {
    width: 60%;
    height: 30px;
    border-radius: 20px;
    background-color: black;
    position: absolute;
    top: 3px;
}

#screen1, #screen2 {
    padding-top: 10.5%;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background-color: #ececed;
}

#phone1-header, #phone2-header {
    height: 10%;
    background-color: #ececed;
    /* background-color: salmon; */
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.profile1-photo, .profile2-photo {
    height: 40px;
    width: 40px;
    background-color: maroon;
    border-radius: 50%;
}

.receiver1, .receiver2 {
    margin: 0 1em;
    text-align: left;
    font-size: 0.8rem;
}

#screen1-content, #screen2-content {
    height: 77%;
    background: url(images/phone-bg.jpg);
    background-repeat: repeat-y;
    background-size: contain;
}

#messages1, #messages2 {
    /* margin-bottom: 2em; */
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.8rem;
    font-family: sans-serif;
}

#messages1 li, #messages2 li {
    max-width: 80%;
    list-style-type: none;
    /* color: white; */
    background-color: #e1dfc7;
    padding: 0.3em 0.5em;
    margin-bottom: 0.2em;
}

#type-box1, #type-box2 {
    height: 8%;
    background-color: #ececed;
    border-top: 1px solid grey;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    border-radius: 20px;
    padding: 0.3em;
    margin-left: 1em;
    outline: none;
}

.send-button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: gold;
    margin-right: 1em;
    cursor: pointer;
}

.send-button:hover {
    opacity: 0.8;
}

/* ABOUT */

#about {
    height: 50vh;
    background-color: #f1f5f8;
    text-align: center;
}

/* FOOTER */

#footer {
    height: 15vh;
    background-color: #252525;
    color: white;
    text-align: center;
    font-size: 2rem;
}

@media (max-width:500px) {
    html {
        font-size: 20px;
    }

    #simple-messaging-app {
        display: none;
    }
}