* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
}

#nav-bar {
    z-index: 2;
    height: 3em;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 1em 0;
    display: flex;
    align-items: center;
}

#logo {
    position: relative;
    bottom: 0.15em;
    margin-left: 2em;
    font-size: 2.3rem;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 700;
    /* background: linear-gradient(to right, #30CFD0 0%, #330867 100%); */
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    /* text-shadow: 0px 4px 2px grey; */
    cursor: pointer;
}

#nav-menu {
    position: fixed;
    right: 7%;
    color: white;
    font-size: 1rem;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin: 0 2em;
    padding: 0;
}

li:hover {
    color: orange;
    cursor: pointer;
}

#wallpaper {
    background-image: url(images/jan-kronies-hzvX-09NIBg-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,255,255,0.2), rgba(0,255,255,0.1));
    position: absolute;
}

.title-container {
    z-index: 1;
    width: 60%;
    text-align: center;
    color: white;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 600;
}

#html {
    background-color: #f1f5f8;
    text-align: center;
    padding: 2em 0;
}

#html h1 {
    font-family: sans-serif;
}

.slideshow-container {
    width: 85%;
    margin: 2em auto 0;
    padding: 1em;
    background-color: white;
    overflow-x: auto;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.5);
    white-space: nowrap;
}

.slide-image {
    object-fit: contain;
    margin: 0;
}

.slide-image:hover {
    opacity: 0.7;
    cursor: pointer;
}

#slide-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4; /* Sit on top */
    padding: 1em 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.9);
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 850px;
    margin: 1em auto;
}

.modal-content {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.close, .direct-link {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.close:hover {
    opacity: 0.9;
}

@-webkit-keyframes zoom {
from {-webkit-transform:scale(0)} 
to {-webkit-transform:scale(1)}
}

@keyframes zoom {
from {transform:scale(0)} 
to {transform:scale(1)}
}

#javascript {
    width: 90vw;
    margin: 2em auto;
    padding: 2em 0;
    font-family: sans-serif;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    /* box-shadow: 0px 0px 1px 1px black; */
}

#js12 {
    width: 100%;
    margin: 1em 0;
    display: flex;
    justify-content: space-evenly;
}

/*  =============
    COLOR FLIPPER
    ============= */

#color-flipper {
    width: 40vw;
    padding: 1em 0;
    background-color: #b4f0d7;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.color-information{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    padding: 0.2em 1em;
    border-radius: 10px;
    margin: 1em 0;
}

.color {
    color: #b4f0d7;
}

.btn {
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5em 1em;
}

.btn:hover {
    background-color: black;
    color: white;
}

/*  ========
    COUNTER
    ======== */

#counter {
    width: 40vw;
    padding: 1em 0;
    border-radius: 10px;
    background-color: #f1f5f8;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#counter > h1 {
    font-size: 2rem;
}

#number-counted {
    font-size: 3rem;
    margin: 0.4em 0;
}

.counter-box {
    display: flex;
}

.counter-box > div {
    font-size: 0.8rem;
    margin: 0 0.4em;
    padding: 0.5em 1em;
    border: 1px solid black;
    border-radius: 5px;
}

.counter-box > div:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#about {
    height: 50vh;
    background-color: #f1f5f8;
    text-align: center;
}